/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', 'Roboto', sans-serif;
}

body {
  font-family: 'Kumbh Sans', 'Roboto', sans-serif;
}
